gitignore
# Python
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение
venv/
env/
.venv/
.env/

# Файлы настроек IDE
.vscode/
.idea/
*.iml

# Логи
logs/
*.log

# Файлы с секретами
*.env

# Файлы данных
last_sent.json

# Byte-compiled / optimized / DLL files
*.pyd
*.so
*.dll

# macOS
.DS_Store

# Windows
Thumbs.db